<div class="inside panels-flexible-row-inside panels-flexible-row-new-crisis-hub-8-inside panels-flexible-row-inside-first clear-block">
<div class="panels-flexible-region panels-flexible-region-new-crisis-hub-key_figures panels-flexible-region-first panels-flexible-region-last">
  <div class="inside panels-flexible-region-inside panels-flexible-region-new-crisis-hub-key_figures-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">

<div class="panel-pane pane-node-content ">

  <div class="inner">

    


    


    


    <div class="pane-content content">

      


<div id="node-169246" class="node odd full-node node-type-page">

  <div class="inner">

    


    


    


    


    <div class="content clearfix">

      <p>
	<div class="image-caption-container" style="float: left; width: 100px;"><img alt="" class="caption" src="syria_arab_republic_SYR_100px.png" style="width: 100px; height: 100px;"><div class="image-caption"></div></div></p>
<p class="rtejustify">
	The OCHA Syria Country Office works with other OCHA offices responding to the crisis inside Syria in Jordan and Turkey to support the development, implementation and monitoring of the <a href="https://docs.unocha.org/sites/dms/Syria/2016_hrp_syrian_arab_republic.pdf" target="_blank">2016 Humanitarian Needs Overview (HNO) </a>&nbsp;and <a href="http://reliefweb.int/sites/reliefweb.int/files/resources/2016_hno_syrian_arab_republic.pdf" target="_blank">Response Plan (HRP)</a>. These provide an overarching framework for the humanitarian response inside Syria from Damascus or across the Turkish and Jordanian borders, helping to prioritize resources for the most affected areas and people in need, increase access and response capacity and advocating for increased protection through more joined up responses across the three hubs (Syria, Jordan, Turkey).</p>
<p class="rtejustify">
	OCHA Syria supports the Syria coordination structures including eight sectors and two clusters, sub- sectors, inter-sector coordination mechanism and the Syria Humanitarian Country Team under the leadership of the Humanitarian Coordinator for Syria. The office also work with other OCHA offices responding to the crisis inside Syria to support Whole of Syria coordination and related mechanisms.</p>
<p class="rtejustify">
	The OCHA Syria Country Office operates from Damascus with sub-offices in UN hubs in Aleppo, Homs, Tartous and Quamishli. Through expanded field presence, OCHA Syria facilitates outreach and coordination with humanitarian partners and other stakeholders across the country including Aleppo, Al-Hasakeh, Damascus, Dara'a, Hama, Homs, Idleb, Lattakia, Rural Damascus and Tartous to enable timely, effective and principled response to assessed needs and increase access.</p>
<p class="rtejustify">
	Striving to respond to the needs of those most affected in the most under-served areas, OCHA coordinates cross-line inter-agency access to besieged and hard-to-reach areas as well as other areas located across conflict lines and carries out access monitoring and analysis in support of operations as well has both local and global advocacy.</p>
<p class="rtejustify">
	OCHA also advocates with donors to ensure sufficient and principled funding for humanitarian response in Syria in line with the strategic, thematic and geographical priorities of the 2016 HRP.</p>
<p class="rtejustify">
	OCHA Syria manages the&nbsp;<a href="http://www.unocha.org/syrian-arab-republic/emergency-response-fund/syria-erf">Syria Humanitarian Fund (HF)</a>under the leadership of the Humanitarian Coordinator, which allocates funds to respond to acute needs within the framework of the Humanitarian Response Plan, or in response to unforeseen needs. The Syria HPF target amount for 2016 is US$60 million.</p>

    </div>



    
    <div class="terms">

      
    </div>

    


    
    <div class="links">

      <ul class="links inline"><li class="addtoany first last"><span>
		<a class="da2a_button" href="https://www.addtoany.com/share#url=http%3A%2F%2Fwww.unocha.org%2Fcountry%2Fsyrian-arab-republic%2Fsyria-country-profile%2Fsyria-country-profile&amp;title=Syria%20Country%20Office" id="da2a_1"></a>
		<script type="text/javascript">
<!--//--><![CDATA[//><!--
da2a.script_load();
//--><!]]>
</script>
		</span></li>
</ul>
    </div>

    
  </div><!-- /inner -->



  
</div><!-- /node-169246 -->


    </div>



    


    
  </div>

</div>

  </div>
</div>
  </div>